.DS_Store
old
.vscode
myvenv
sqlite3
.env
notes.txt
.streamlit
generate_location_cache.py
geocoding.py
location_cache_partial.json


# Database files
*.db
*.sqlite
*.sqlite3
my_database.db